{% extends 'base.html.twig' %}

{% block title %}
	| Produits
{% endblock %}

{% block body %}

	{% include "partials/_header.html.twig" %}

    {% if not products.items is same as ([]) %}

	<div class="container mt-4">
		<h1 class="text-center">Tous les Produit</h1>

		<div class="countbadge d-flex justify-content-between">
			<h5>
				Il y a au total
				{{ products.getTotalItemCount }}
				de produits sur notre site.
			</h5>
			<button class="btn btn-primary" type="submit">
				<a class="nav-link" href="/product/newProduct">Créer un produit</a>
			</button>
		</div>

		<div class="d-flex justify-content-evenly">
			{% for product in products %}
				<div class="card mt-4" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{ product.productName }}</h5>
						<p class="card-text">{{ product.productDesc }}</p>
						<h6 class="card-subtitle mb-2 text-body-secondary">{{ product.productPrice }}€</h6>
						<a href="/product/view" class="card-link">Voir la description</a>
						{# <a href="#" class="card-link">Another link</a> #}
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="navigation d-flex justify-content-center mt-5">
			{{ knp_pagination_render(products) }}
		</div>

        {% else %}
            <h4>Il n'y a plus de produits.</h4>
        {% endif %}

	</div>

{% endblock %}
