{% extends 'base.html.twig' %}

{% block title %}
	| Catégories
{% endblock %}


{% block body %}

	{% include "partials/_header.html.twig" %}

	<div class="container">

        <h1 class="text-center mt-4">Toutes les categories</h1>

		<div class="countbadge d-flex justify-content-between">
			<h5>
				Il y a au total
				{{ categories.getTotalItemCount }}
				catégories.
			</h5>
			<button class="btn btn-primary" type="submit">
				<a class="nav-link" href="/category/newCategory">Créer une catégorie</a>
			</button>
		</div>



        {% for category in categories %}

		<div class="d-flex justify-content-center mt-5">
			<table class="table table-primary ">
				<thead>
					<tr>
						<th scope="col">Identifiant</th>
						<th scope="col">Nom de la catégory</th>
						<th scope="col">Modification</th>
						<th scope="col">Suppression</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">{{ category.id }}</th>
						<td>{{ category.categoryName }}</td>
						<td>
							<a class="btn btn-warning nav-link" href={{ path('app_edit_category', { id: category.id}) }} onclick="return confirm('Vous êtes sur de vouloir modifiez cette Catégorie')">Modifier</a>
						</td>
						<td>
							<a class="btn btn-danger nav-link" href={{ path('app_delete_category', {id: category.id}) }} onclick="return confirm('Vous êtes sur de vouloir supprimez cette Catégorie')">Supprimer</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

        {% endfor %}

{#		<button class="btn btn-primary" type="submit">Créer une categorie</button>#}

	</div>

{% endblock %}
